/*font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Rubik',  sans-serif;
 width:1440px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
a:hover{
    color: #00CC00;
}
div{
    box-sizing: border-box;
}

.logo{
margin-top: 31px; 
height: 28px;
width: 115px;
margin-left: 40px;
 
}
.navigation{
 display: flex;
}
.heading{
    display: flex;
    justify-content: space-between;
    width:1440px; 
}
.vector-menu{
    display: none;
}
ul{
 list-style-type: none;   
}

.menu{
 display: flex;
    justify-content: space-between;
    margin-top: 35px;
    width: 293px;
}

li >a{
  font-size: 16px;
    font-weight: normal;
    color:#1B1B1B;
    cursor: pointer;
}




.entrance{
    margin-top: 23px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 6px;
    width: 106px;
    height: 43px;
    background-color: #FFF;
    cursor: pointer;
}
button:hover{
    background-color: aqua;
    
}

#contacts{
  background-color: #F7F9FB; 
    height: 341px;
    margin-top: 80px;
    width: 1440px;
}
h1,h2,p{ font-family: 'Roboto', sans-serif; }
h1{
    text-align: center;
    color: #1B1B1B;
    font-size: 64px;
    line-height: 1.2;
    font-weight: bold;
}
h2{
    text-align: center;
    color: #1B1B1B;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 500;
 padding-top: 80px;
}

.vector-image{
padding-top: 116px;
    padding-left: 522px;
}
.about{
    margin-top: 61px;
}
.about-faq{
   margin-top: 60.94px;
    margin-bottom: 0px;
}
.textL{
 width: 925px;
 height: 105px;
 text-align: center;
color: #1B1B1B;
    font-size:24px;
    margin-top: 30px;
    margin-left: 258px;
    line-height: 1.45;
}
.info{
    height: 56px;
    width: 264px;
    display: flex;
    flex-direction: column;
}
.line{
    border-style: solid;
    border-color: #C8C8CF;
    border-width: 1px;
    height: 62px;
    
    
}
.info_contacts{
  margin-top: 43px; 
 display: flex;
    justify-content: space-between;
    width: 666px;
    margin-left: 387px;
}

.info_text{
    font-size: 14px;
    color:#4F4F4F;
    text-align: center;
    line-height: 1.47;
    
}
p.info_text{
    margin: 0px 0px 6px 0px;
}
.link{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #000;
     line-height: 1.47;
}



#commands{
    height: 895px;
}
.block{
    display: flex;
    justify-content: space-between;
}
.top{
    width: 964px; /*ширина  верхних блоков*/
    margin-left: 237px;
    margin-top: 55px;
}
.block-image{
    height: 261px;
}
.bottom{
    width: 442px; /*ширина двух нижних блоков*/
    margin-left: 498px;
    margin-top: 60px;
}

.block_text{
  font-size: 20px;
    font-weight: 500;
    color:#000;
    text-align: center;
     line-height: 1.47;
    margin: 23px 0px 0px 0px;
 
}
.job_text{
    font-size: 14px;
    font-weight: normal;
    color:#828282;
    text-align: center;
     line-height: 1.47;
    margin: 8px 0px 0px 0px;
}
footer{
    height: 124px;
    background-color: #3F3D56;
}

.footer{
display: flex;
    justify-content: space-between;
}   
.footer_text{
 margin-left: 40px;
    margin-top: 53px;
    font-size: 16px;
    color:#FFF;
}
.icons{
  display: flex;
    justify-content: space-between;
    width: 118.67px;
    margin-top: 48.67px;
    margin-right: 48.72px;
}
.icons img:hover{
    background-color:#00CC00; 
}
.mobile-top_block{
    display: flex;
    width: 441px;
    justify-content: space-between;
}
.indent{
    margin: 0px;
}
 .vector-image-faq{
        margin-left: 540px;
        width:360px;
       height: 300.06px;
    }
.textF{
        width: 632px;
 height: 35px;
    font-size:24px;
    margin-top: 30px;
    margin-left: 408px;
        margin-bottom: 60px;
    }
#Qustions_FAQ{
   min-height: 690px;
    display:flex;
  flex-direction:column;
}

.collapsible{
  width: 1026px;
  border-radius: 6px;
        font-size: 20px;
        padding-left: 22px;
        margin-left: 207px;
        height: 66px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
.collapsible>img{
        float:right;
    width: 32px;
    
    } 


.off{
  display: none;
}
 .collapsible:nth-of-type(-n+5){
        margin-bottom: 14px;
    }  
 .content {
margin-left: 229px;
  display: none;
  overflow: hidden; 
}
 .content>p{
        font-size: 20px;
       text-align: left;
     width: 784px;
     height: auto;
    }
 
    .active, .collapsible:hover {
  background-color: rgba(97,161,153,0.15);
}
.not_js{
    display: flex;
    width: 1026px;
    flex-direction: column;
    margin-left: 207px;
}
.noscript_qustion{
    font-weight: 700;
    font-size: 20px;
    margin: 15px 0px 5px 0px;
     font-family:'Roboto', sans-serif;
}
.noscript_answer{
   margin: 0px 0px 8px 0px;
     font-family:'Roboto', sans-serif;
}

@media screen and (max-width: 375px){
    body{
max-width: 375px;
        overflow: auto;
}
    .logo{
margin-top: 20px; 
margin-left: 20px;
 
}
    .heading{
    width:375px; 
}
    .navigation{
        display: none;
    }
    .vector-menu{
    display: flex;
        width: 18px;
        height: 12px;
        margin-top: 28px;
        margin-right: 23px;
}
    .vector-image{
padding-top: 60px;
    padding-left: 54px;
       width:267.31px;
       height: 202px;
}
    .vector-image-faq{
        margin-top: 60px;
        margin-left: 67px;
        width:242px;
       height: 202px;
    }
  h1{
    font-size: 32px;
    font-weight: 500;
}
    .about{
    margin-top: 40px;
}
    .about-faq{
      margin-top: 40px;  
    }
   .textL{
 width: 335px;
 height: 144px;
    font-size:16px;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 1.45;
}
    #contacts{ 
    height: 237px;
    margin-top: 40px;
    width: 375px;
}
  h2{
    font-size: 24px;
 padding-top: 40px;
      margin: 0px;
}  
 .info_contacts{
  margin-top: 20px; 
 display: flex;
  flex-direction: column;
    width: 264px;
     height: 108px;
    margin-left: 56px;
}
    .info{
    height: 18px;
    width: 264px;
}
    .info_text{
    font-size: 12px;    
}
    p.info_text{
    margin: 0px 0px 5px 0px;
}
    .link{
    font-size: 14px;   
}
.line{
    display: none; 
}
   #commands{
    height: 633px;
   max-width:375px;     
} 
    .top{
    width: 247px; /*ширина  верхних блоков*/
    margin-left: 63px;
    margin-top: 30px;
    height: 288px;
}
    
    
    .block-image>img{
      max-height: 80px;
      max-width: 80px;  
    }
    .block-image{
    height: 120px;
}
    .block_text{
  font-size: 16px;
    margin: 15px 0px 0px 0px;
 
}
    .job_text{
    margin: 1px 0px 0px 0px;
}
    .block{
    display: flex;
   flex-direction: column;
}
    .mobile-top_block{
    display: flex;
    width: 247px;
    justify-content: space-between;
}
    .indent{
        margin-top:30px;
    }
    .bottom{
    width: 247px; /*ширина двух нижних блоков*/
    margin-left: 63px;  
}
    footer{
    height: 125px;
}
    .footer{
display: flex;
        flex-direction: column;
        /*height: 62.34px; /*высота блока с текстом и иконками соцсетей*/
        /*margin-left: 20px;
        margin-top: 30px;*/
}   
    
  .footer_text{
 margin-left: 20px;
    margin-top: 30px;
      margin-bottom: 0px;
     
   
} 
    .icons img{
     width: 26.67px;
        height: 26.67px;
    }
    .icons{
        margin-top: 16.67px;
        margin-left: 22.67px;
}
    #Qustions_FAQ{
        display: flex;
        min-height: 599px;
        flex-direction: column;
    }
    
    .textF{
        width: 335px;
 height: 48px;
    font-size:16px;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 1.45;
        text-align: center;
        font-weight: normal;
        margin-bottom: 30px;
    }
    
    .collapsible {
  background-color: #F7F7F8;
  color: #1B1B1B;
  cursor: pointer;
  width: 335px;
  border-radius: 6px;
  text-align: left;
        font-size: 14px;
        padding-left: 20px;
        margin-left: 20px;
        height: 70px;
        font-family:'Roboto', sans-serif; 
}
    .collapsible:nth-of-type(-n+5){
        margin-bottom: 15px;
    }  
    
    .collapsible:nth-of-type(1){
      height: 50px;
    } 
    .collapsible:nth-of-type(3){
      height: 50px;
    } 
    
    .collapsible:nth-of-type(6){
      height: 50px;
    } 
    
    .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
 margin-left: 20px;

}
    .content>p{
        font-size: 14px;
       text-align: left;
     width: 335px;
     height: auto;
    }
    .active, .collapsible:hover {
 background-color: rgba(97,161,153,0.15);
}
  .collapsible>img{
        float:right;
        width: 26px;
    }
  
    
    .off{
  display: none;
}
    .not_js{
    display: flex;
    width: 335px;
    flex-direction: column;
    margin-left: 20px;
}
.noscript_qustion{
    font-weight: 700;
    font-size: 14px;
    margin: 10px 0px 5px 0px;
     font-family:'Roboto', sans-serif;
   
}
.noscript_answer{
   margin: 0px 0px 5px 0px;
     font-size: 14px;
     font-family:'Roboto', sans-serif;
    
}
}
